nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navba {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
  }
  
  .navba li {
      margin: 0 15px;
  }
  
  .navba a {
      text-decoration: none;
      font-weight: bold;
      font-size: 1.2em;
  }